html{ font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body { margin:0;padding:0; font:14px "Microsoft YaHei",san-serif; color:#333; background-color:#f3f5f6}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:14px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{ text-decoration:none;}
.left{ float:left}
.right{ float:right}
.clear{ clear:both}
.tc{ text-align:center}
.tr{ text-align:right}
.clear{clear:both;}
.mr20{ margin-right: 20px;}
.h20{ height:20px;}
*{ box-sizing:border-box}



/*********************页面布局*************************/
.grid-layout{ width:100%; height:100%;}
.grid-cell{  width:100%; height:100%; padding:1%;}
.cell-content{width:100%; height:100%; background:#3f99ff;}
/*横向布局*/
.row-grid1{height:100%; width:8.33%; float:left; }
.row-grid2{height:100%; width:16.66%; float:left; }
.row-grid3{height:100%; width:25%; float:left; }
.row-grid4{height:100%; width:33.33%; float:left; }
.row-grid5{height:100%; width:41.66%; float:left; }
.row-grid6{height:100%; width:50%; float:left; }
.row-grid7{height:100%; width:58.33%; float:left; }
.row-grid8{height:100%; width:66.66%; float:left; }
.row-grid9{height:100%; width:75%; float:left; }
.row-grid10{height:100%; width:83.33%; float:left; }
.row-grid11{height:100%; width:91.66%; float:left; }
.row-grid12{height:100%; width:100%; float:left; }

/*纵向布局*/
.col-grid1{width:100%; height:8.33%; float:left; }
.col-grid2{width:100%; height:16.66%; float:left; }
.col-grid3{width:100%; height:25%; float:left; }
.col-grid4{width:100%; height:33.33%; float:left; }
.col-grid5{width:100%; height:41.66%; float:left; }
.col-grid6{width:100%; height:50%; float:left; }
.col-grid7{width:100%; height:58.33%; float:left; }
.col-grid8{width:100%; height:66.66%; float:left; }
.col-grid9{width:100%; height:75%; float:left; }
.col-grid10{width:100%; height:83.33%; float:left; }
.col-grid11{width:100%; height:91.66%; float:left; }
.col-grid12{width:100%; height:100%; float:left; }





/*响应代码*/
@media only screen and (max-width: 1599px) {

 
}

@media only screen and (max-width: 1365px) {

 
}
@media only screen and (max-width: 1199px) {

 
}
@media only screen and (max-width: 799px) {
.row-grid6{ width:100%;}
 
}

@media only screen and (max-width: 499px) {

 
}